<!DOCTYPE html>
<html>
  <head>
    <title>Try</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if current_user.present? %>
	    <hr>
	    <%= link_to destroy_user_session_path, :method => :delete do %>
	      <i class="fas fa-sign-out"></i> Sign Out
	    <% end %>
    <% end %>
  </body>
</html>
